{erl_opts, [debug_info]}.
{deps, [
  {jsx, {git, "git://github.com/talentdeficit/jsx", {tag, "v2.10.0"}}}
]}.

{profiles, [
  {test, [
    {deps, [
      {meck, {git, "git://github.com/eproxus/meck.git"}}
    ]},
    {cover_enabled, true}
  ]}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [banks_fetch]}
]}.

{dialyzer, [
    {plt_apps, all_deps},
    {plt_extra_apps, [inets,jsx]},
    {warnings, [
       %% Warn about undefined types and unknown functions
       unknown, unmatched_returns, error_handling, race_conditions
    ]}
]}.

{xref_checks,[
    %% enable most checks, but avoid 'unused calls' which is often
    %% very verbose
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{alias, [
    {check, [
      xref, 
      dialyzer, 
      {ct, "-c"}, 
      {cover, "-v --min_coverage=100"}]}
]}.
